<% layout("./template/boilerplate") %>
    <h1>
        <h1>
            <%= camp_with_id.title%>
        </h1>
        <img src="<%= camp_with_id.image %>" alt="camp image" width="640" width="640">
        <h2>
            <%= camp_with_id.location %>
        </h2>
        <form action="/camp/<%= camp_with_id.id %>?_method=DELETE" method="POST">
            <Button>delete camp</Button>
        </form>
        <form action="/camp/<%= camp_with_id.id %>?_method=PATCH" method="POST">
            <Button>edit camp</Button>
        </form>
    </h1>